@import "tailwindcss";

:root {
    --background: #F8FAFC;
    --foreground: #171717;

    --blue-primary: #1E293B;
    --blue-secondary: #475569;

    --green-dark: #003825;
    --green-accent: #059669;
}

@theme inline {
    --color-*: initial;

    --color-blue-primary: var(--blue-primary);
    --color-blue-secondary: var(--blue-secondary);

    --color-green-dark: var(--green-dark);
    --color-green-accent: var(--green-accent);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --font-body: var(--font-manrope);
    --font-label: var(--font-inter);
    --font-headline: var(--font-news-reader);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
